{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "plugins": ["@prettier/plugin-php"],
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php",
                "phpVersion": "8.2",
                "printWidth": 80,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "trailingCommaPHP": true,
                "braceStyle": "1tbs",
                "requirePragma": false,
                "insertPragma": false
            }
        }
    ]
}
