/* Fonts */
@font-face {
    font-family: 'BaseFont';
    src: url('../assets/fonts/PTSans-Regular.ttf');
}

@font-face {
    font-family: 'BaseFontTest';
    src: url('../assets/fonts/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'BaseFontTest2';
    src: url('../assets/fonts/Outfit-Light.ttf');
}

/* Base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    font-size: 15px;
    line-height: 1.6;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    transition: color 0.5s,
    background-color 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.5s,
    background-color 0.5s;
    -moz-transition: color 0.5s,
    background-color 0.5s;
    -ms-transition: color 0.5s,
    background-color 0.5s;
    -o-transition: color 0.5s,
    background-color 0.5s;
}

* {
    font-family: 'BaseFontTest2', sans-serif;
}

/* Headings */
h1 {
    font-size: 3.21rem;
}

h2 {
    font-size: 2.358rem;
}

h3 {
    font-size: 2.0069rem;
}

h4 {
    font-size: 1.577rem;
}

h5 {
    font-size: 1.333rem;
}

/* Small text */
small {
    font-size: 0.75rem;
}

/* Primary styles */
.primary-style {
    background-color: var(--primary-light);
}

/* Button styles */
.btn-primary {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.btn-primary:hover {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
}

.btn-primary:focus {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* Form styles */
.form-control:focus {
    border: var(--primary-light);
    box-shadow: 0 0 14px 1px var(--primary-light);
}

/* NavBar styles */

.navbar {
    background-color: var(--primary-light) !important;
    border-bottom: var(--secondary-light) 2px solid !important;
}

.footer {
    background-color: var(--primary-light) !important;
    border-top: var(--secondary-light) 2px solid !important;
}

/* SVG */

.svg-path {
    background-color: var(--background-light-svg);
}

.form-label {
    color: var(--forms-text-color) !important;
}

.text {
    color: var(--forms-text-color) !important;
}

label {
    color: var(--text-light);
}

/* Color palette */
:root {
    --vt-c-black: #181818;
    --vt-c-black-mute: #282828;
    --vt-c-black-soft: #222222;
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-indigo: #2c3e50;
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-white: #ffffff;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-white-soft: #f8f8f8;

    --accent: #a37e2c;
    --background: #d5e1e6;
    --primary: #254629;
    --secondary: #172d1a;
    --text: #0e1415;

    --color-background: var(--background);
    --color-background-mute: var(--vt-c-white-mute);
    --color-background-soft: var(--vt-c-white-soft);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--text);

    --section-gap: 160px;

    /* https://www.realtimecolors.com/?colors=eaf0f1-2b363b-47b39b-bde0d1-a7d3c3&fonts=Gafata-Outfit Color Palette */

    /* Light View */

    --text-light: #0e1415;
    --background-light: #c4cfd4;
    --primary-light: #4cb8a0;
    --secondary-light: #1f4233;
    --accent-light: #2c5848;

    /* Dark View */

    --text-dark: #eaf0f1;
    --background-dark: #2b363b;
    --primary-dark: #357769; /* Variation -> Original #47b39b */
    --secondary-dark: #bde0d1;
    --accent-dark: #bde0d1;

    /* SVG Colors  .svg-path */

    --background-light-svg: #ece9ef;
    --background-dark-svg: var(--background-dark);

    /* Inmutable Color */
    --forms-text-color: #0e1415;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--background-dark);
        --color-background-mute: var(--vt-c-black-mute);
        --color-background-soft: var(--vt-c-black-soft);
        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);
        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--text-dark);
    }
}

.dark {
    --color-background: var(--background-dark);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-soft: var(--vt-c-black-soft);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--text-dark);

    --text-light: var(--text-dark);
    --background-light: var(--background-dark);
    --primary-light: var(--primary-dark);
    --secondary-light: var(--secondary-dark);
    --accent-light: var(--accent-dark);

    --background-light-svg: var(--background-dark-svg);
}

.border-accent {
    border-color: var(--accent);
}