@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

* {
    font-family: 'BaseFontTest2';
}

@font-face {
    font-family: 'BaseFont';
    src: url('../assets/fonts/PTSans-Regular.ttf');
}

@font-face {
    font-family: 'BaseFontTest';
    src: url('../assets/fonts/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'BaseFontTest2';
    src: url('../assets/fonts/Outfit-Light.ttf');
}

@keyframes animationLevitate {
    0%,
    100% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
}